// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.masthead-logo {
  flex-shrink: 0;
  img {
    height: 5rem;
  }
}

.masthead-menu {
  flex-grow: 1;

  .menu-item {

    a {
      display: inline-block;
      padding: 5px 1rem;
      border-radius: 50px;
      color: #f0f0f0;
      font-weight: bold;

      &:hover, &.active {
        background-color: rgba(216,216,216,0.20);

      }
    }

  }

}
