.project {
    small {
        color: #7B7B7B;
    }

    .line {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    @media(max-width:630px) {
        .line {
            display: block;
            margin-bottom: 0.5rem;
        }
    }
}

