---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    {%if post.title_image %}
      <h2 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{post.title_image}}" alt="{{post.title}}">
        </a>
      </h2>
    {% else %}
      <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}" class="readmore_link">Read more...</a>
  </article>
  {% endfor %}
</div>
